.box{
  height: 100px;
  width: 100px;
}
.footer-items{
    display: block;
    height: 40px;
    line-height: 50px;
    font-size: 15px;

}

.footer-imgs {
    margin-right: 10px;
    vertical-align: middle;
}

.ferramentas{
  font-family: 'Roboto-Light';
  font-size: 30px;
  text-align: center;
}

body{
  font-family: 'Roboto-Regular';

}

canvas{
  margin-bottom: 20pt;

}



.parallax img {
    @media #{$small-and-down} { max-width: 200%; }
    @media #{$medium-and-up} { width: 100%; }
}
#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
#particles-js2 {
    position : absolute;
    width:100%;
    height:250%;
    z-index:-1;
}
#particles-js3 {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
#particles-js4 {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
